<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel = 'icon' href = 'https://uxwing.com/wp-content/themes/uxwing/download/27-weather/weather.png'>


    <link rel='stylesheet' href="./css/styles.css">
    <script src='./js/app.js'></script>

</head>

<body>
<div class="main-container">
    
    {{>header}}

    <img
        src= 'https://lh3.googleusercontent.com/BbgXnV3JnA6PbkcEd8DQDayOvaRjtpZ_YfnL_6jnuN2i_m8ZJEGAhUj6BdSSREu7fZCNBAYod5cwYN240glOYJEujKlfBGrpGhAd8qf3nFJN1y_iHy-dzTHcC53k-Z7R9yagvfUrMDx37hMaje1suVUztV72-e1Nq626kSW8OwGAvzsRTy3nJ_LGyb7A-2jN5QvX-o5uEnphlLrCu4pd9zm71mdeAtUY7P2jaMHKMghQ3MN02w8uK9v0sQNmh2vJ7eNxLTbNMEyRXMj6uWWWxhKNM2_K0qYMlblVIq8H_To0FncH5BeJZMMj0F3oRlu3vf7v1WOG2jA45OH_cxTjcFyCRifD8FdO3pbavGbDjVQrjLK7nIKIDkCdZ-kfw1DYQCKvgAG4JSBeA1pgUe1D6hbULSMEujQlWs24imEOovDOFoPC2Qk7vjMNTFmNYZ0nTwPq-9XoFQGkBSyLR3vBItA63DRS6Ktkx5-_bHWHw42qhczE7_ISiSzAG1WOxyFCbWWA54HcXPns3OWInELfMB9OP132FD2B74DtunxtcdThsOCfLoEIrPxycyn3xfSwwx_Bjctm4g-W7_l7Gc1bEAJDp9_LN6zkykFTtofIeRn0spH1HsUf1IvOYt-ba5XAtKt_U4Rt6cuH1_GvwIFYgWTieewpIbbFG4ad6u1-5o4fu6dGPsI5FoB1LqPpLkHf0HgN0WsNrWOIUSCA0ZkqJcY=w465-h625-no?authuser=0' alt = "profile photo" height="100px">

</div>

    {{>footer}}

</body>

</html>